{
  "rules": {
    "block-no-empty": true,
    "block-no-single-line": true,
    "color-hex-case": "lower",
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "indentation": [2, {
      "except": ["value"]
    }],
    "rule-nested-empty-line-before": ["always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    }],
    "string-quotes": "single",    
    "unit-whitelist": ["px", "rem", "%", "s", "deg"]
  }
}
